In [1]:
### Works for Python version 3.8 and above
# !python --version

In [2]:
# !pip install snscrape

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import snscrape.modules.twitter as sntwitter

In [4]:
# query = "(from:ShashiTharoor) until:2018-12-31 since:2018-01-01"
query = "(from:elonmusk) until:2023-03-31 since:2023-01-01"

In [5]:
scraper =  sntwitter.TwitterSearchScraper(query)
# scraper =  sntwitter.TwitterSearchScraper("#python")

In [6]:
# for tweet in scraper.get_items():
#     tweet.location
#     break

In [7]:
# tweet

In [8]:
# tweets = []
# limits = 100

# for tweet in scraper.get_items():
#     if len(tweets) == limits:
#         break
#     else:
#         data = [
#             tweet.date,
# #             tweet.id,
#             tweet.rawContent,
#             tweet.user.username,
#             tweet.likeCount,
#             tweet.retweetCount
#         ]
#         tweets.append(data)

In [9]:
tweets = []
# limits = 100

for tweet in scraper.get_items():

    data = [
        tweet.date,
#             tweet.id,
        tweet.rawContent,
#         tweet.user.username,
        tweet.likeCount,
        tweet.retweetCount
    ]
    tweets.append(data)

In [10]:
df = pd.DataFrame(tweets, columns = ["date", "Content", "Likes", "Retweet"])
df

,date,Content,Likes,Retweet
0,2023-03-30 23:59:08+00:00,@mtaibbi ðŸ¤£,28301,1367
1,2023-03-30 22:02:28+00:00,@iamharaldur !,11984,547
2,2023-03-30 07:44:08+00:00,@Galaxygamerone Coming soon,2128,163
3,2023-03-30 07:15:48+00:00,@Tesmanian_com It will per vehicle,9754,540
4,2023-03-30 07:13:10+00:00,@TPostMillennial !!,24524,1929
...,...,...,...,...
2010,2023-01-01 19:34:42+00:00,@BriannaWu Thanks for paying me $8,104225,4557
2011,2023-01-01 19:33:38+00:00,"@grizzzmint @TheRabbitHole84 Which is, ironica...",8400,539
2012,2023-01-01 19:29:30+00:00,@cb_doge @mayemusk ðŸ¤£,26868,623
2013,2023-01-01 19:26:19+00:00,@robinmonotti !!,35592,2594
2014,2023-01-01 19:25:38+00:00,Hope youâ€™re having a great day 1 2023!\n\nOne ...,604985,44106

In [11]:
df.Content[1998]

'@willdepue lol, but maybe'

In [12]:
df.to_csv('Tweets.csv', index = False)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2015 entries, 0 to 2014
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     2015 non-null   datetime64[ns, UTC]
 1   Content  2015 non-null   object
 2   Likes    2015 non-null   int64
 3   Retweet  2015 non-null   int64
dtypes: datetime64[ns, UTC](1), int64(2), object(1)
memory usage: 63.1+ KB